:root {
    --primary-color: #1a1a1ae1;
    --hover-color: linear-gradient(to right, #36c01a6b, #dbb63a);
    --accent-color: #dbb63a;
    --text-color: #c9C9C9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../assets/images/Solvable\ background.png");
  background-repeat: repeat;
  background-size: fixed;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow: hidden;
}


.greeting {
  position: fixed;
  top: 0;
  left: 0; 
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #36c01a6b ,#dbb63a);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  z-index: 10;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

.sptx {
  font-family: Helvetica, sans-serif;
  font-size: 3rem;
  background: linear-gradient(to right, #484ca0, #1fadea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: slideIn 300ms ease-in;
}

.getStartedBtn {
    margin-top: 20px;
  padding: 12px 24px;
  background: linear-gradient(to right, #1000ec, #3c0fe0);
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(255, 75, 43, 0.3);
  transition: 0.3s ease;
  font-family: 'Segoe UI';
  animation: slideIn 300ms ease-in;
}

.getStartedBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(51, 15, 9, 0.5);
}

.getStartedBtn:active {
  transform: translateY(0);
  box-shadow: 0 0px 0px rgba(51, 15, 9, 0.5);
}

.logo {
    margin: 20px;
  animation: slideIn 300ms ease-in;
  transition: box-shadow 0.3s ease;
  border-radius: 5%; width: 70px; 
  height: 70px; margin-bottom: 20px;
}

.logo:hover {
  box-shadow: 0 2px 15px rgb(38, 0, 255);
  
}

.navbarcontainer {
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
    z-index: 1000;
}

nav {
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--hover-color);
}

nav ul {
    display: flex;
    list-style: none;
}

nav .home-li {
    margin-right: auto;
} 

nav a {
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    padding: 1em 2em;
    transition: background-color 200ms ease;
}

nav a.active-link{
    border-bottom: 4px solid var(--text-color) ;
}

nav a:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

nav li {
    display: flex;
}

#open-sidebar-button {
    display: none;
    background: none;
    border: none;
    padding: 1em;
    margin-left: auto;
    cursor: pointer;
}

#close-sidebar-button {
    display: none;
    background: none;
    padding: 1em;
    cursor: pointer;
    border: none;
}

#overlay{
    background-color: rgba(0, 0, 0, 0.416);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}


@media screen and (max-width: 700px){
    nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(15em, 100%);
        z-index: 10;
        border-left: 1px solid var(--hover-color);
        transition: right 300ms ease-out;
    }
    nav ul {
        width: 100%;
        flex-direction: column;
    }
    nav.show {
        right: 0;
    }
    nav.show ~ #overlay {
        display: block;
    }
    nav a{
        width: 100%;
        padding-left: 2.5em;
    }
    nav a.active-link{
        border-bottom: none;
    }
    nav .home-li{
        margin-right: unset;
    }
    #open-sidebar-button {
    display: block;
    }

    #close-sidebar-button {
    display: block;
    }
}


  